@import '../../../styles/_vars';
@import '../../../styles/_breakpoints';

.text {
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: $gray;

    @media (min-width: $tablet) {
        font-size: 64px;
    }
}