@import '../../styles/__breakpoints';
@import '../../styles/__vars';

.title{
    text-align: center;
    padding: 32px 68.5px;
}

.attractions__groupText{
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: $tablet) {
        flex-direction: row;
        gap: 32px;
        justify-content: center;
    }
}