@import '../../styles/__vars';
@import '../../styles/_breakpoints';

.header{
    background: $blue-bold;
    
    @media (min-width: $tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        background: $blue-bold;
    }
}

.container {
    background: $blue-bold;
    padding: 32px 24px;

    @media (min-width: $tablet) {
        padding: 0;
        padding-top: 32px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 234px;
        height: 64px;
        background-image: url(../../assets/logo-mobile.png);
    }
}

.navbar {
    // opacity: 0;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    position: absolute;
    right: -193px;
    width: 193px;
    top: 128px;
    z-index: 9;
}

.isCheckedOpen {
    opacity: 1;
    right: 0;
}