@import '../../styles/__vars';

.header {
    background: $blue-bold;
    padding: 32px 24px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 234px;
        height: 64px;
        background-image: url(../../assets/logo-mobile.png);
    }
}

.navbar {
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    position: absolute;
    right: -193px;
    width: 193px;
    top: 128px;
    z-index: 9;
}

.isCheckedOpen {
    opacity: 1;
    right: 0;
}